### What are Strings?

In [ ]:
# Use quotation marks for defining string

"Big Data class in Hospitality and Tourism"

In [ ]:
# Use single quotation marks for defining string

'Big Data class in Hospitality and Tourism'

In [ ]:
# Digitals and spaces in string

'1 2 3 4 5'

In [ ]:
# Special characters in string

'!@#4%^&'

In [ ]:
# Print the string

print('Sangwon Park')

In [ ]:
# Assign string to variable

name = 'Sangwon Park'
name

### Indexing

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers.

In [ ]:
print(name)

# Print the first element in the string
print(name[0])

In [ ]:
# Print the element on index 5 in the string

print(name[5])

In [ ]:
# Print the element on the 11th index in the string

print(name[11])

### Negative Indexing

Negative index can help us to count the element from the end of the string.

In [ ]:
# Print the last element in the string

print(name[-1])

In [ ]:
# Print the first element in the string

print(name[-12])

In [ ]:
# Find the length of string
# len: short for length

len(name)

### Slicing

You can obtain multiple characters from a string using slicing.

In [ ]:
print(name)

# Take the slice on variable Name with only index 0 to index 4
print(name[0:4])

In [ ]:
# Take the slice on variable Name with only index 7 to index 11

print(name[7:11])

### Stride

In [ ]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

In [ ]:
# Get every second element in the range from index 0 to index 5

name[0:5:2]

### Concatenate Strings

You can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both.

In [ ]:
# Concatenate two strings

statement = name + " is the best teacher."
statement

In [ ]:
# To replicate values of a string
# Print the string for 3 times

3*'Sangwon Park'

In [ ]:
# Concatenated with a new string

name = 'Sangwon Park'
name = name + ' is the best teacher.'
name

### Escape Sequences

Back slashes represent the beginning of escape sequences.

In [ ]:
# New line escape sequence
# \n represents new line
print("Sangwon Park \nis the best teacher")

In [ ]:
# Tab escape sequence
# \t represents tab

print("Sangwon Park \tis the best teacher")

In [ ]:
# Include back slash in string
print("Sangwon Park \\ is the best teacher")

In [ ]:
# r will tell python that string will be display as raw string

print(r" Sangwon Park \\ is the best teacher" )

### String Operations

In [ ]:
# Convert all the characters in string to upper case

A = 'Big Data class in Hospitality and Tourism'
print('Before upper :',A)
B = A.upper()
print('After upper:', B)

In [ ]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = 'Big Data class in Hospitality and Tourism'
B = A.replace('Big Data', 'Machine Learning')
print(B)

In [ ]:
# Method find is to find a sub-string.
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = 'Sangwon Park'
name.find('rk')

In [ ]:
# Find the substring in the string.

name.find('Sangwon')

In [ ]:
# If cannot find the substring in the string

name.find('James')

### Quiz

In [ ]:
# What is the value of the variable 'A' after the following code is executed? 

A = '1'
A

In [ ]:
# What is the value of the variable 'B' after the following code is executed? 

B = '2'
B

In [ ]:
# What is the value of the variable C after the following code is executed?

C = A+B
C

In [ ]:
# use slicing to print out the first three elements:

D = 'Hong Kong PolyU'

In [ ]:
# print out every second character of the string

E = 'Hong Kong PolyU'

In [ ]:
# Print out a backslash:

In [ ]:
# Write your code below and press Shift+Enter to execute

# conver variable to uppercase

In [ ]:
# find the first index of the sub-string 'Management'

G = "The School of Hotel and Tourism Management is one of the schools at The Hong Kong Polytechnic University. \
It was established in 1979 as the Department of Institutional Management and Catering Studies, \
then renamed as Department of Hotel and Tourism Management in 1992"

In [ ]:
# in the variable 'G', replace the sub-string 'Hotel' with 'Hospitality'