In [ ]:
# Python is an interpreted language which interprets your script line by line as it executes (<-> compiled language)

In [ ]:
#To expecute the Python code in the code cell, press 'Shift' + 'Enter'

In [ ]:
# Try your first Python output
print('Hello World!')

#print() is a function (or method)
#'Hellow World!' is an argument

In [ ]:
# Check the Python version
# sys is a built-in module that contains many suystem specific parameters and functions including the Python version in use.

import sys
print(sys.version)

In [ ]:
# Practice on writing comments

print('Hello World!') # This line prints a string
# print('hi')

### Excercise: Your first program

In [ ]:
# use the print() function to print out the phrase: Welcome to Big Data class 2020!

In [ ]:
# print out the phrase: Welcome to Big Data class 2020!
# and comment it with the phrase 'a function to show string' all in one line of code.

### Types of objects in Python

In [ ]:
# Integer
20

# Float
3.14

# String
"Welcome to Big Data class 2020!"

In [ ]:
# type() is a the built-in function to show the type of expression
type(20)

In [ ]:
type(3.14)

In [ ]:
type('Welcome to Big Data class 2020!')

In [ ]:
type(12.0)

**Converting integrs to floats**

In [ ]:
# confert 2 to a flat
float(2)

In [ ]:
# convert integer 2 to a float and check its type
type(float(2))

In [ ]:
# Casting 1.1 to integer will will result in loss of information
int(1.1)

**Convering from strings to integers or floats**

In [ ]:
# Convert a string into a integer
int('1')

In [ ]:
# Convert a string into an integer with error
int('1 or 2 students')

In [ ]:
# Convert the string "3.14" into a float
float("3.14")

**Converting numbers to strings**

In [ ]:
# convert an integer to string
str(1)

In [ ]:
# convert a float to a string
str(3.14)

**Boolean Data type**

In [ ]:
print(type(True))
print(type(False))

In [ ]:
# Convert True to Int
int(True)

In [ ]:
# Convert 1 to boolean
print(bool(1))
print(bool(0))

In [ ]:
# Convert True to float
float(True)

### Excercise: Type

In [ ]:
# What is the data type of the result of: 8/4?

In [ ]:
# what is the type of the result of: 8//4?

### Excercise: Expression

In [ ]:
# Let's write an expression that calculates how many hours are in 160 minutes

### excercise: Expression and Variables

In [ ]:
# What is the value of x where x = 5 + 7 * 9

In [ ]:
# What is the value of x where y = (5 + 7) * 9

In [ ]:
# What is the value of z where z = x + y?